
table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}

th,td {
    padding: 8px;
    border: 1px solid gray;
}
th {
    color: blue;
    background-color: rgb(235, 246, 253);
}
td {
    color: rgb(75, 73, 73);
}